<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.bmob.sdkdemo">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>


    <application
        android:name=".BmobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--添加应用版本更新页面-->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 设置BmobAppKey -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="12784168944a56ae41c4575686b7b332"/>
        <!-- 设置更新渠道，如果没有，则不要添加此行 -->
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="bmob"/>
        <!--数据共享-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.bmob.sdkdemo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <activity android:name=".activity.file.FileManagerActivity"/>
        <activity android:name=".activity.user.sms.UserResetSmsActivity"/>
        <activity android:name=".activity.user.sms.UserBindActivity"/>
        <activity android:name=".activity.array.ArrayActivity"/>
        <activity android:name=".activity.date.DateActivity"/>
        <activity android:name=".activity.article.ArticleActivity"/>
        <activity android:name=".activity.user.email.UserEmailActivity"/>
        <activity android:name=".activity.user.sms.UserMainActivity"/>
        <activity android:name=".activity.user.third.UserThirdActivity"/>
        <activity android:name=".activity.user.normal.UserNormalActivity"/>
        <activity android:name=".activity.user.sms.UserSignUpOrLoginSmsActivity"/>
        <activity android:name=".activity.user.sms.UserSignUpPasswordAndSmsActivity"/>
        <activity android:name=".activity.user.sms.UserLoginSmsActivity"/>
        <activity android:name=".activity.user.sms.UserSignUpPasswordActivity"/>
        <activity android:name=".activity.user.sms.UserUnBindActivity"/>
        <activity android:name=".activity.user.sms.UserLoginPasswordActivity"/>
        <activity android:name=".activity.user.sms.UserResetPasswordActivity"/>
        <activity android:name=".activity.object.SingleCrudActivity"/>
        <activity android:name=".activity.object.QueryConditionActivity"/>
        <activity android:name=".activity.object.QueryStatisticActivity"/>
        <activity android:name=".activity.object.QueryBqlActivity"/>
        <activity android:name=".activity.user.UserActivity"/>
        <activity android:name=".activity.location.LocationActivity"/>
        <activity android:name=".activity.security.acl.AclActivity"/>
        <activity android:name=".activity.relevance.PostsActivity"/>
        <activity android:name=".activity.cloud.CloudActivity"/>
        <activity android:name=".activity.table.TableActivity"/>
        <activity android:name=".activity.other.OtherFunctionActivity"/>
        <activity android:name=".activity.realtime.RealTimeDataActivity"/>
        <activity android:name=".activity.installation.InstallationActivity"/>
        <activity android:name=".activity.object.DataOperationActivity"/>
        <activity android:name=".activity.object.QueryCacheActivity"/>
        <activity android:name=".activity.object.QueryTableActivity"/>
        <activity android:name=".activity.object.QueryRegexActivity"/>
        <activity android:name=".activity.object.QueryWhereActivity"/>
        <activity android:name=".activity.object.MultiCrudActivity"/>
        <activity android:name=".activity.security.SecurityActivity"/>
        <activity android:name=".activity.security.role.BmobRoleActivity"/>
        <activity android:name=".activity.security.SignVerifyActivity"/>
        <activity android:name=".activity.update.AppVersionUpdateActivity"/>
        <activity android:name=".activity.sms.SmsActivity"/>



        <service android:name=".OtherService"
                 android:process=":task"/>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="cn.bmob.sdkdemo.BmobContentProvider">
        </provider>

    </application>

</manifest>